body{
  margin: 0;
  padding: 0;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.wrapper video{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper video.initial{
  display: block;
}
/* .wrapper .initial{
  display: block;
}
.wrapper .vid-2,
.wrapper .vid-3{
  display: none;
} */

.wrapper .pause{
 display: none;
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0,0.8);
 position: relative;
 z-index: 98;
}
.wrapper .pause button {
  padding: 15px 50px;
  background: transparent;
  font-size: 30px;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  position: absolute;
  display: block;
  left: calc(50% - 137px);
  top: calc(50% - 34px);
}
.wrapper .info {
  position: absolute;
  top: -100vh;
  transition: top .4s ease;
  height: 100%;
  width: 100vw;
  z-index: 99;
  background: rgba(255, 255, 255);
}
.wrapper .info.active{
  top: 0;
}
.wrapper p{
  font-size: 20px;
  text-align: center;
}
.info-button {
  position: absolute;
  bottom: -3.9rem;
  left: 0;
  transition: all .4s ease;
  z-index: 10;
  cursor: pointer;
  width: 100%;
  height: 120px;
  height: 3.5rem;
}
.info.active .info-button{
  bottom: 0;
}
.info-button::before {
  content: '';
  background-image: url('down.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0;
  right: 0;
  width: 24px;
  height: 30px;
  cursor: pointer;
  margin: auto;
}

.info.active .info-button::before {
  content: '';
  cursor: pointer;
  background-image: url('up.svg');
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  
  .modal-content {
    height: 100px;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.modal-content button{
  padding: 15px 50px;
    background: transparent;
    font-size: 30px;
    color: #fff;
    border: 2px solid #fff;
    margin: 0 40px;
    cursor: pointer;
}
.modal-content img{
  width: 60px;
}

  